---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-4xl font-bold flex flex-row gap-x-4 pb-10">
				¡Hola! Soy Nicolás Diez. <a
				href="https://www.linkedin.com/in/nicolas-diez-8421a3282/"
				target="_blank"
				rel="noopener"
				class="flex justify-end items-center pb-1">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-white text-2xl opacity-80">
				Desarrollador Web. Desde Córdoba Argentina, creando
				aplicaciones únicas.
			</h2>
		</section>
	</main>
</Layout>
