---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Marzo de 2016 - 2019',
        title: 'Laboratorio de electrónica',
        description: 'Contribución en el diseño, creación, instalación, reparación y mantenimiento de equipos de radiofrecuencia.',
        
    },
    {
        date: 'Febrero de 2021 - Actualidad',
        title: 'Global Care SRL - Soporte informático externo',
        description: 'Relevamiento, mantenimiento, reparación y ampliación de redes, equipos informáticos, software ofimático.'
    },
    {
        date: 'Diciembre - 2023',
        title: 'Drewili SAS - E-Commerce MVP',
        description: 'Desarrollo en equipo de la página E-commerce para Drewili SAS (ver Proyectos)'
    }
] 
---
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
        ))
    }
    
</ol>
