<header class="flex justify-between">
    <img 
    class="rounded-full w-6 h-6"
    src="https://yt3.googleusercontent.com/-HYnsiz-ipaoNvJ4PAclFsZmi4ZIYwlqZMEuCdYavQE0OkmEtdoYeuKEUs7_zV4te8xqP-ldZ1E=s900-c-k-c0x00ffffff-no-rj" alt="foto" />

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>